/* Definición de variables CSS personalizadas */
:root {
  --primary-color: rgb(236, 236, 236);
  --secondary-color: rgb(21, 21, 21);
  --blue-light: #7ec699;
  --blue-dark: #2d505c;
  --border: 2px solid var(--blue-color);
  --spacing: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  color: var(--blue-dark);
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
  grid-auto-rows: 300px; /* Altura automática de filas */
  gap: var(--spacing); /* Espaciado entre celdas */
  padding: var(--spacing); /* Relleno exterior */
}

header {
  grid-row: 1/3; /* Ocupa filas 1 y 2 */
  display: grid; /* Diseño de cuadrícula */
  background-color: var(--blue-light); /* Fondo azul */
  padding: var(--spacing); /* Espaciado */
  text-align: justify; /* Justificar el texto */
}
/* Estilos del título en la cabecera */
header > h1 {
  font-size: 30px; /* Tamaño de fuente */
  text-transform: uppercase; /* Texto en mayúsculas */
}
/* Estilos del contenido principal */
main {
  border: 2px solid var(--blue-light); /* Borde con el color azul */
  color: var(--blue-light); /* Color de texto azul */
  text-transform: uppercase; /* Texto en mayúsculas */
  display: grid; /* Diseño de cuadrícula */
  place-items: center; /* Centrar contenido */
  text-align: center; /* Texto centrado */
}

/* Estilos del pie de página */
footer {
  grid-column: 2/4; /* Ocupa columnas 2 y 3 */
  display: grid; /* Diseño de cuadrícula */
  place-items: left; /* Alinear contenido a la izquierda */
  background-color: var(--blue-dark);
  color: var(--blue-light); /* Fondo naranja */
  padding: var(--spacing); /* Espaciado */
}
/* Estilos del botón en el pie de página */
footer > button {
  width: 200px; /* Ancho fijo */
  height: fit-content; /* Altura ajustada al contenido */
  padding: var(--spacing); /* Espaciado */
  border: none; /* Sin borde */
  border-radius: 20px;
  box-shadow: 0 0 20px var(--secondary-color);
  text-transform: uppercase;
  background-color: var(--blue-light);
  color: var(--blue-dark); /* Texto en mayúsculas */
}
/* Con esta media query conseguiremos una sola columna en mobile */
@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr; /* Una sola columna */
  }
  footer {
    grid-column: 1; /* Ocupa columna 1 */
  }
}
/* Estilos para las clases específicas (fondos de imágenes) */
.school {
  background-image: url(./public/chica.webp);
  background-position: center;
}

.student {
  background-image: url(./public/icono.jpeg);
  background-position: center;
}

.time {
  background-image: url(./public/pareja.webp);
}

.alumni {
  background-image: url(./public/chico.webp);
}

.alumni,
.school,
.student,
.time {
  background-size: cover;
} /* Cubrir completamente el área */
